@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

.cardList {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 180px;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  margin-top: 20px;
}
.number {
  text-align: center;
  font-size: 120px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.suit {
  font-size: 70px;
  position: relative;
  width: 50px;
  height: 30px;
  top: -30px;
  left: 0;
  bottom: 0;
  right: 0;
}

.suitinf {
  transform: rotate(180deg);
  position: relative;
  font-size: 70px;
  float: inline-end;
  height: 30px;
  top: 30px;
  left: 0;
  bottom: 0;
  right: 0;
}

.bubble {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
h4 {
  background-color: black;
  color: white;
  text-align: center;
  margin: 10px;
}
